* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter";
};

body {
    width: 100%;
    height: 100vh;
}

.productsContainer {
    width: 1291px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: auto;
}

.productImage {
    width: 250px;
    height: 250px;
    display: block;
}

.card {
    width: 303px;
    height: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.stars {
    width: 123px;
    height: 15px;
    padding: 0.5rem 0rem 0rem 0rem;
    display: flex;
    align-items: center;
    gap: 10px;
}

.Prices {
    display: flex;
    justify-content: space-between;
}

strong {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}

b {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}

.title {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.productBtn {
    width: 186px;
    height: 68px;
    border-radius: 50px;
    border: 3px solid #454444;
    background: transparent;
    font-family: 700;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}

.headerSection {
    width: 1294px;
    height: 50px;
    margin: auto;
    margin-top: 20px;
}

header {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    color: #454444;
}

nav {
    display: flex;
    align-items: center;
    gap: 15px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #454444;
}

.countSection {
    display: flex;
    gap: 20px;
    align-items: center;
}

.navUl {
    display: flex;
    gap: 15px;
    list-style: none;
}

.search {
    width: 252px;
    height: 41px;
}

#select {
    border: none;
    outline: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.logo {
    font-weight: 400;
    font-size: 4rem;
    line-height: 48px;
}

.text {
    display: flex;
    align-items: center;
    gap: 5px;
}

.heroSection {
    width: 1294px;
    height: 344px;
    margin: auto;
    background: url("https://images.unsplash.com/photo-1472851294608-062f824d29cc?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8c2hvcHxlbnwwfHwwfHx8MA%3D%3D");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    color: white;
    margin-top: 50px;
    margin-bottom: 50px;
}

.heroH1 {
    width: 398px;
    height: 132px;
    font-weight: 400;
    font-size: 36px;
    line-height: 43px;
}

.heroBtn {
    width: 191px;
    height: 61px;
    border-radius: 30px;
    background-color: #454444;
    color: white;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    margin-top: 35px;
}

.heroSectionComponents {
    width: 400px;
    height: 280px;
    margin-left: 80px;
    padding-top: 50px;
}

.loader {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: white;
    position: relative;
    left: 680px;
    top: 40px;
  }
  .loader:before,
  .loader:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    inset: 0;
    background-color:#454444;
    transform: rotate(0deg) translate(30px);
    animation: rotate 1s ease infinite;
  }
  .loader:after {
    animation-delay: 0.5s
  }
  @keyframes rotate {
    100% {transform: rotate(360deg) translate(30px)
  }
    } 